
h1 {
    font-size: 3rem;
    text-transform: capitalize;
    font-family: 'Montserrat';
}

.CardList {
    list-style-type: none;
    margin: 40px auto;
}

.CardList li {
    display: inline-block;
    float: none;
}

.inpArea input {
    border: 1px solid grey;
    font-size: 1.5rem;
}

.inpArea button {
    border: none;
    margin: 5px 0px;
    font-size: 1.25rem;
    color: white;
    background-color: green;
    padding: 5px;
}
